/***************************************************************************
*    Citation
*    Title: MERN Stack — The Old Facebook Comment Box Tutorial except 2018
*    Author: Bryan Gilbraith
*    Date: 2018
*    Availability: https://medium.com/@bryantheastronaut/ok-here-we-go-b9f683c5a00c#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6ImIxYTgyNTllYjA3NjYwZWYyMzc4MWM4NWI3ODQ5YmZhMGExYzgwNmMiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJuYmYiOjE2NTI2OTE0NzQsImF1ZCI6IjIxNjI5NjAzNTgzNC1rMWs2cWUwNjBzMnRwMmEyamFtNGxqZGNtczAwc3R0Zy5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjExMjM1ODEwMDg5NDUwMzg1NTgyMCIsImVtYWlsIjoidHJhbmJyYW5kb24xMjMzQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJhenAiOiIyMTYyOTYwMzU4MzQtazFrNnFlMDYwczJ0cDJhMmphbTRsamRjbXMwMHN0dGcuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJuYW1lIjoiQnJhbmRvbiBUcmFuIiwicGljdHVyZSI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hL0FBVFhBSnpJTWtQMDgtYWtUa21xbWx4WjRpbnZLa0lMNmhDX3dUQ2Z5b1BYPXM5Ni1jIiwiZ2l2ZW5fbmFtZSI6IkJyYW5kb24iLCJmYW1pbHlfbmFtZSI6IlRyYW4iLCJpYXQiOjE2NTI2OTE3NzQsImV4cCI6MTY1MjY5NTM3NCwianRpIjoiNDAzMDcwYmNkNDE1ODAzMzViOWIwOGZjN2NjMGVhNTY5NGIwNmE2NCJ9.vSP6W39nUpqtkfk2u80lcAV6Ot-E8p1zktP-PDKwUAAcYhNPMnNCJPFlvQh8CQURTPSbnoGHqBrdwymdE93dxarmWyjS0fOWxKzY_pWdzUYGiw3l6e1oGelAMrMgWGXArHSXP26QIwDKXTfiHPFDFIJ1jya7BHq_neFI5hS2ZU_ivvQ_nIdtIZcDzbIrGUG9o7dTpRdhvB4jVEyDTMs6vhTBLo-TZ-vcpp6kBEQdltikcR4QuAVVT4k75Qji-qJLKRpCOjX96CA02Ff2tfT9HywxCBNzUbr5xT214KlTaR8U9v8-kheffs2EHDJeAvvoB5UGGEU4M8c6K7LH_AioIg
*    Usage: Structure of this file
****************************************************************************/
  .container {
    box-sizing: border-box;
    min-height: 90vh;
    min-width: 89vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
  }
   
  .section1, .section2 {
    width: 100%;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .comments {
    margin: 0px;
    min-width: 400px;
    max-width: 1200px;

    max-height: 90vh;
    overflow: auto;
    align-items: center;
  }
  
  .singleComment {
    padding: 10px 20px;
    display: flex;
  }
  
  .singleCommentContent {
    min-width: 5rem;
    background-color: #fff;
    padding: 0px 1rem;
    display: block;
  }
  
  .userImage {
    height: 35px;
    border-radius: 30%;
    border: solid 1px;

    filter: opacity(0.5) drop-shadow(.5 .5 .5 gold); 
  }
  
  
  .singleCommentContent h3 {
    margin: 0;
    
    color: #04a;
    font-size: 1rem;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif; /* not set */ 
    text-decoration: none;

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .singleCommentContent h3 h4 {
    margin: 0px;
    padding-left: .5rem;
    font-size: .8rem;
    color: #aaa;
  }
  
  .singleCommentContent p {
    font-size: 1rem;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif; /* not set */ 
    text-decoration: none;
    margin: 0;
  }
  
  .singleCommentButtons {
    padding-top: 5px;
  }
  
  .time {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #999;
  }
  
  .singleCommentButtons a {
    margin: 0px 3px;;
    padding-top: 10px;
    cursor: pointer;
    font-size: 10px;
    color: #385997;
    letter-spacing: 0.05em;
  }
  
  .form {
    width: 80%;
    min-width: 400px;
    max-width: 1200px;
  }
  
  .form form {
    display: flex;
    padding: 1rem 0px;
  }
  
  .form input {
    height: 2rem;
    padding-left: 10px;
    border: 1px solid #bbb;
    margin-right: 10px;
    border-radius: 10px;
    flex: 3;
  }
  
  .form input:first-child {
    flex: 1;
  }
  
  .form button {
    color: #999;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: lightgoldenrodyellow;
  }
  
  .form button:hover {
    cursor: pointer;
    color: #385997;
    border-color: #385997;
    background-color: #eee;
  }